.right-page{
    background: transparent;
    flex: 0 0 19.7%;
    padding-right: 10vw;
    text-align: center;
    margin: 0 0;
    height: 70vh;
    width: 60vw;
    margin-left: 30vw;
    position: relative;
    z-index: 10;
    transition: transform 300ms ease 100ms;
}